#sect1{
    padding: 0;
    width: 100%;
    height: 100%;
    /* background: radial-gradient(circle, rgb(7, 59, 2), rgb(10, 0, 0)) !important; */
    background-image:url("../../assets/welcome-14.png");
    background-size: 100% 100%;
  }

  img{
    width:fit-content;
    height:100px;
  }