<div id = "sect1">
    <div class = "spacedvertical">
      <img src = "../../assets/The CodeBays Company-4.png" >
    </div>
<div class = "background">

<!-- 
<div class = "about-us">
      <div class = "abcd">
      
        <video oncanplay="this.play()" onloadedmetadata="this.muted = true"  [src]="value"  type="video/mp4">
          
        </video> 
    </div>
    

    
        
        <table class="table table-borderless zoom">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td><img src = ""  ></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table> 
          
      




</div> -->

</div>
</div>